th, td {
  padding: 10px;
}

th {
  cursor: pointer;
}

th:hover{
  color: blue;
}

table {
  margin: 10px;
}

.title {
  margin: 10px;
}

.time-period {
  margin: 10px;
}

.malicious {
  background: red;
}

.high-risk {
  background: orange;
}

.medium-risk {
  background: yellow;
}

.low-risk {
  background: lightgreen;
}

.clean {
  background: lightblue;
}
