{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meta File Reader</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
    <script src="{% static "js/jquery-3.1.0.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
  </head>
  <body>
    <h1>Meta File Reader</h1>
    <table id="table" class="table-bordered">
      <tr>
        <th>date</th>
        <th>filename</th>
        <th>action</th>
        <th>submit-type</th>
        <th>rating</th>
      </tr>
    </table>
  </body>
</html>
