{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meta File Reader</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
    <script src="{% static "js/jquery-3.1.0.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1 class="title">Meta File Reader</h1>
        </div>
      </div>
    </nav>

    <select class="time-period">
      <option value="" disabled selected hidden>Time Period</option>
      <option value="24-hours">24 hours</option>
      <option value="7-days">7 days</option>
      <option value="4-weeks">4 weeks</option>
      <option value="all-data">All Data</option>
    </select>
    <table id="table" class="table-bordered">
      <tr>
        <th class="date">Date</th>
        <th class="filename">Filename</th>
        <th class="action">Action</th>
        <th class="submit-type">Submit-type</th>
        <th class="rating">Rating</th>
      </tr>
    </table>
  </body>
</html>
